<section class="container my-3">
    <div class="row justify-content-center p-0">
        <div class="col-md-10 p-0">
            <h6 class="fw-bold my-1 fs-4">Change Password</h6>
            <small class="text-muted fs-6">Enter your details below</small>

            <form class="mt-4 " [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword(changePasswordForm)">
                <div>
                    <div class="input-group my-3">
                        <span class="input-group-text" >
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        <input [type]="isHide?'password':'text'" class="form-control" placeholder="Old Password"
                            aria-label="password" formControlName="oldPassword">
                        <span class="position-absolute" (click)="isHide= !isHide">
                            <i class="fa-solid" [class]="isHide?'fa-eye-slash':'fa-eye'"></i>
                        </span>
                    </div>
                    <div class="input-group my-3">
                        <span class="input-group-text" >
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        <input [type]="isHide?'password':'text'" class="form-control" placeholder="New Password"
                            aria-label="password" formControlName="newPassword">
                        <span class="position-absolute" (click)="isHide= !isHide">
                            <i class="fa-solid" [class]="isHide?'fa-eye-slash':'fa-eye'"></i>
                        </span>
                    </div>
                    <div class="input-group my-3">
                        <span class="input-group-text" >
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        <input [type]="isHide?'password':'text'" class="form-control" placeholder="Confirm New Password"
                            aria-label="password" formControlName="confirmNewPassword">
                        <span class="position-absolute" (click)="isHide= !isHide">
                            <i class="fa-solid" [class]="isHide?'fa-eye-slash':'fa-eye'"></i>
                        </span>
                    </div>
                </div>
                <div class="my-4">
                    <!-- [disabled]="forgetPasswordForm.status==='INVALID'?true:false" -->
                    <button class="w-100 btn btn-success"
                        [disabled]="changePasswordForm.status==='INVALID' || changePasswordForm.value.newPassword!==changePasswordForm.value.confirmNewPassword">
                        Submit
                    </button>
                    <button class="w-100 btn btn-danger mt-3" (click)="onNoClick()">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>