<section>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <img src="../../../../../assets/images/girldelete.png" alt="">
            </div>
            <div class="text-center">
                <h3>Delete This <span class="fw-semibold">Item</span> ?</h3>
                <div class="d-flex justify-content-center align-items-center">
                    <p class="mx-1">Are you sure you want to delete this item?</p> 
                    <p class="mx-1">If you are sure just click on delete it!</p>
                </div>
            </div>
            <div  class="d-flex justify-content-center align-items-center my-3">
                <button mat-button (click)="onNoClick()" class="btn btn-danger mx-1">No Thanks</button>
                <button mat-button  [mat-dialog-close]="data.id" cdkFocusInitial class="btn btn-success mx-1">Submit</button>
            </div>
        </div>
    </div>
</section>