<section class="mt-1 rounded-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div>
                    <h2 class="text-white">Welcome <span class="text-white-50">
                        {{userName}} <span class="fs-6">({{userEmail}})</span></span></h2>
                    <p class="text-white">This is a welcoming screen for the entry of the application , you can now see the options</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <img src="../../../../../assets/images/eating vegan food-rafiki.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>