<section class="container my-3">
    <div class="row justify-content-center p-0">
        <div class="col-md-10 p-0">
            <h6 class="fw-bold my-1 fs-4">Reset Password</h6>
            <small class="text-muted fs-6">Please Enter Your Otp or Check Your Inbox</small>
            <!-- [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword(resetPasswordForm)" -->
            <form class="mt-4 " [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
                <div>
                    <div class="input-group my-3">
                        <span class="input-group-text" >
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                        <input type="email" formControlName="email" class="form-control" placeholder="Enter your E-mail"
                            aria-label="email">
                    </div>
                    <div class="input-group my-3">
                        <span class="input-group-text" >
                            <i class="fa-solid fa-key"></i>
                        </span>
                        <input type="text" formControlName="seed" class="form-control" placeholder="OTP"
                            aria-label="email">
                    </div>
                    <div class="input-group my-3">
                        <span class="input-group-text" >
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        <input [type]="isHide?'password':'text'" class="form-control" placeholder="New Password"
                            aria-label="password" formControlName="password">
                        <span class="position-absolute" (click)="isHide= !isHide">
                            <i class="fa-solid" [class]="isHide?'fa-eye-slash':'fa-eye'"></i>
                        </span>
                    </div>
                    <div class="input-group my-3">
                        <span class="input-group-text" >
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        <input [type]="isHide?'password':'text'" class="form-control" placeholder="Confirm New Password"
                            aria-label="password" formControlName="confirmPassword">
                        <span class="position-absolute" (click)="isHide= !isHide">
                            <i class="fa-solid" [class]="isHide?'fa-eye-slash':'fa-eye'"></i>
                        </span>
                    </div>
                </div>
                <div class="my-4">
                    <!-- [disabled]="forgetPasswordForm.status==='INVALID'?true:false" -->
                    <button class="w-100 btn btn-success"
                        [disabled]="resetPasswordForm.status==='INVALID' || resetPasswordForm.value.password!==resetPasswordForm.value.confirmPassword">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>