<section class="auth-section">
    <div class="container">
        <div class="row vh-100 align-items-center">
            <div class="col-md-7 p-0 mx-auto formLayout overflow-y-auto">
                <div class="container bg-white rounded-4 p-3">
                    <div class="text-center">
                        <img src="../../../assets/images/auth-logo.png" class="w-50 h-50" role="button">
                    </div>
                    <div class="p-1">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>