.auth-section{
    background-image: url(../../../assets/images/auth-background.png);
    background-position: center center;
    background-size: cover;

    .formLayout{
        max-height: 100vh;
    }
}