<section class="container my-3">
    <div class="row justify-content-center p-0">
        <div class="col-md-11 p-0">
            <h6 class="fw-bold my-1 fs-4">Login</h6>
            <small class="text-muted fs-6 my-1">Welcome Back! Please enter your details</small>
            <form class="my-2" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
                <div>
                    <div class="input-group my-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                        <input type="email" formControlName="email" class="form-control" placeholder="Enter your E-mail"
                            aria-label="email">
                    </div>
                    <div class="input-group my-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        <input [type]="isHide?'password':'text'" class="form-control" placeholder="Enter your Password"
                            aria-label="password" formControlName="password">
                        <span class="position-absolute" (click)="isHide= !isHide">
                            <i class="fa-solid" [class]="isHide?'fa-eye-slash':'fa-eye'"></i>
                        </span>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center my-2">
                    <a class="text-decoration-none text-success fw-semibold" routerLink="/auth/register">Register
                        Now?</a>
                    <a class="text-decoration-none text-success fw-semibold" routerLink="/auth/forget-password">Forgot
                        Password?</a>
                </div>
                <div class="my-4">
                    <button class="w-100 btn btn-success" [disabled]="loginForm.status==='INVALID'?true:false">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>