<section class="mt-1">
    <div class="container">
        <div class="row">
            <div class="d-flex align-items-center sectionHeader rounded-4">
                <div class="col-md-8">
                    <div>
                        <h2 class="text-white">
                            Recipes Items
                        </h2>
                        <p class="text-white">
                            You can now add your items that any user can order it from the Application and you can edit
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                        <img src="../../../../../../../assets/images/eating a variety of foods-amico.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center">
                        <div>
                            <h3 class="fw-bold">Recipes Table Details</h3>
                            <p>You can check all details</p>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                        <div>
                            <button mat-button class="bg-success text-white px-2" routerLink="add-new-recipe">
                                Add New Recipe
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row justify-content-between">
                    <div class="col-md-5 px-1">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Search by Name: </mat-label>
                            <input matInput placeholder="Placeholder" [(ngModel)]="searchKey"
                                (keydown.enter)="onGetRecipes()">
                            <mat-icon matSuffix>search</mat-icon>
                            <mat-hint><small class="fw-medium">Press Enter to Search</small></mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 px-1">
                        <mat-form-field class="w-100">
                            <mat-label>Tag</mat-label>
                            <mat-select [(ngModel)]="tagId" (selectionChange)="onGetRecipes()">
                                <mat-option [value]="0">All</mat-option>
                                <mat-option *ngFor="let item of listTags" [value]="item.id">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 px-1">
                        <mat-form-field class="w-100">
                            <mat-label>Categories</mat-label>
                            <mat-select [(ngModel)]="categoryId" (selectionChange)="onGetRecipes()">
                                <mat-option [value]="0">All</mat-option>
                                <mat-option *ngFor="let item of listCategories"
                                    [value]="item.id">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-1 px-2">
                        <button mat-fab color="warn" class="d-flex align-items-center" (click)="clearFilter()">
                            <mat-icon>backspace</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 table-responsive">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr class="fs-5">
                            <th scope="col">Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">Price</th>
                            <th scope="col">Description</th>
                            <th scope="col">Category</th>
                            <th scope="col">Tag</th>
                            <th scope="col">Creation Date</th>
                            <th scope="col">Modification Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr *ngFor="let item of listData?.data">
                            <td scope="row">{{item.name}}</td>
                            <td scope="row">
                                <img *ngIf="item.imagePath else emptyImg"
                                    [src]="'https://upskilling-egypt.com:3006/'+item.imagePath"
                                    style="width: 50px; height: 50px; border-radius: 50%;">
                                <ng-template #emptyImg>
                                    <img src="../../../../../../../assets/images/noImg.png">
                                </ng-template>
                            </td>
                            <td scope="row">{{item.price}}</td>
                            <td scope="row">{{item.description}}</td>
                            <td scope="row">
                                <ng-container *ngIf="item.category.length <=0 else data">
                                    <span>No Category</span>
                                </ng-container>
                                <ng-template #data>
                                    <ng-container *ngFor="let item of item.category; let i = index; let isLast = last">
                                        <span>{{item.name}}</span> <span *ngIf="!isLast">,</span>
                                    </ng-container>
                                </ng-template>
                            </td>
                            <td scope="row">{{item.tag.name}}</td>
                            <td>{{item.creationDate | date: 'dd/MM/YYYY'}}</td>
                            <td>{{item.modificationDate | date: 'dd/MM/YYYY'}}</td>
                            <td>
                                <button mat-icon-button [matMenuTriggerFor]="menu" class="btn">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>
                                        <mat-icon>visibility</mat-icon>
                                        <span>View Details</span>
                                    </button>
                                    <button mat-menu-item [routerLink]="['edit', item.id]">
                                        <mat-icon>edit</mat-icon>
                                        <span>Edit</span>
                                    </button>
                                    <button mat-menu-item (click)="openDeleteDialog(item.id)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Delete</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination fw-semibold fs-6">
                    <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
                        [pageIndex]="pageIndex" [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                        aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</section>