<section class="container my-3">
    <div class="row justify-content-center p-0">
        <div class="col-md-11 p-0">
            <h6 class="fw-bold my-1 fs-4">Forgot Your Password?</h6>
            <small class="text-muted fs-6">No worries! Please enter your email and we will send a password reset link</small>
            <form class="my-4" [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetPassword(forgetPasswordForm)">
                <div>
                    <div class="input-group my-4">
                        <span class="input-group-text">
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                        <input type="email" formControlName="email" class="form-control" placeholder="Enter your E-mail" aria-label="email">
                    </div>
                </div>
                <div class="d-flex justify-content-end align-items-center my-3">
                    <a class="text-decoration-none text-success fw-semibold" routerLink="/auth/login">Login Now?</a>
                </div>
                <div class="my-4">
                    <button class="w-100 btn btn-success" [disabled]="forgetPasswordForm.status==='INVALID'?true:false" >
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>