section.bg-main-color,
.sideContainer{

    border-top-right-radius: 58px;

    .nav-link-active,
    .nav-link:hover{
        background-color: #0092473b;
        border-left: solid 5px #009247;;
    }
}